{% extends "base.html.twig" %}
{% block body %}
<div class="container">
        <div class="jumbotron mt-5">
            <h1 class="display-4">Bienvenue sur mon site !</h1>
            <p class="lead">C'est le meilleur site d'annonce du monde</p>
            <hr class="my-4">
            <p>Satisfait ou remboursé</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">En savoir plus</a>
        </div>
</div>

{% endblock %}

